<ion-view view-title="Dublin Bikes Stations" class="padding">
    <ion-header-bar class-"bar-dark">
    <ion-list class="bar bar-subheader item-input-insert bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
        </label>
    </ion-list>
    </ion-header-bar>
        <ion-content ng-controller="BikesCtrl" class="padding"><br><hr>
            <ion-list class="padding">
                <ion-item class="item-remove-animate item-avatar item-icon-right" 
                                        ng-repeat="bike in bikes | filter: query" 
                        type="item-text-wrap"  href="#/app/bikes/{{bike.number}}">
                    <h2>{{bike.address}}</h2><hr>                
                </ion-item>
            </ion-list>
        </ion-content>
</ion-view>
