<ion-view view-title="Bike Stations Details">
  <ion-content ng-controller="BikesCtrl" class="padding">
     <ion-list list-inset>
         
              <h1>{{bike.address}}</h1><hr>
              <h4>Station No.: {{bike.number}}</h4><hr>
              <h4>Available Bike stands: {{bike.available_bike_stands}}</h4><hr>
              <h4>Available Bikes: {{bike.available_bikes}}</h4><hr>
              <h4>Status: {{bike.status}}</h4><hr>
              <h4>Banking: {{bike.banking}}</h4><hr>
              <h4>BikeStands: {{bike.bike_stands}}</h4><hr>
         
      </ion-list>
  </ion-content>
</ion-view>
    