<ion-view view-title="Journeys">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="">
        <h3>This is the Journey's Edit Page</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
