<ion-view view-title="Dublin Bike Map">
  <ion-content scroll="false" class="padding">
      
        <map center="{{dbs.lat}},{{dbs.lon}}" zoom="13" disable-default-u-i="true">
          <marker position = "{{[dbs.lat,dbs.lon]}}" ></marker>
          
          <marker clickable="true" 
              on-mousedown="showStationDetail(event, bikeStation)"
              ng-repeat="bikeStation in dbs.results" 
              position="{{[bikeStation.position.lat,bikeStation.position.lng]}}">
              
              <info-window id="BikeStationInfo">
                  <div ng-nonbindable="">
                      <div class="contents">
                          <p>Location: {{dbs.currentBikeStation.name}}</p>
                          <p>Station No. {{dbs.currentBikeStation.number}}</p>
                          <p>Bikes Available: {{dbs.currentBikeStation.available_bikes}}</p>
                          <p>Stands Available: {{dbs.currentBikeStation.available_bike_stands}}</p>
                          <!--<p><a class="button" href='#/app/journey'>Start</a>-->
                      </div>
                  </div>
              </info-window>
           </marker>
           
        </map>
        
        <button class="button button-balanced button-block"
                ui-sref="app.add">Start Journey</button>
          
  </ion-content>
</ion-view>

